<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Dashboard</title>
    <script src="/js/script.js" defer></script>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Admin Dashboard</h1>
	
    <nav>
    	<form th:action="@{/auth/logout}" method="post">
		    <button type="submit">Logout</button>
		</form>

        <a href="/admin/users">View Users</a> | 
        <a href="/admin/createRolePage">Create Role</a> |
    </nav>

    <div>
        <h2>Welcome to the Admin Dashboard</h2>
    </div>
</body>
</html>
