<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <script src="/js/script.js" defer></script>
    <link rel="stylesheet" th:href="@{/css/buyerStyle.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <script src="/js/script.js" defer></script>
</head>
<body class="buyer-body">
    <!-- Sidebar -->
    <aside class="sidebar">
        <h2>Buyer</h2>
        <ul>
        	<li><a th:href="@{/home/buyer/cart/view}"> <i class="fas fa-shopping-cart"></i> View Cart</a></li>
            <li>
                <form th:action="@{/auth/logout}" method="post">
                    <button type="submit" class="logout-btn"><i class="fas fa-sign-out-alt"></i> Logout</button>
                </form>
            </li>
        </ul>
    </aside>
    
    <main class="buyer-main">
    	<header>
        	<h1>Welcome <span th:text="${buyerName}"></span></h1>
    	</header>
    
		<section class="search-section">
        <form action="/home/buyer/search" method="get" class="search-form">
            <label for="searchType">Search By:</label>
            <select id="searchType" name="searchType" onchange="updatePlaceholder()">
                <option value="name">Name</option>
                <option value="minPrice">Min Price</option>
                <option value="maxPrice">Max Price</option>
            </select>

            <input type="text" id="searchValue" name="searchValue" placeholder="Enter value here" required />
            <button type="submit" class="btn search-btn">Search</button>
        </form>
    </section>
    
    <!-- Display list of products -->
    <section class="products-section">
        <h2>Available Products</h2>
        <div class="products-container">
            <div th:each="product : ${products}" class="product-card">
                <img th:src="@{${product.imagePath}}" alt="Product Image" class="product-image" />
                <h3 th:text="${product.name}" class="product-title"></h3>
                <p th:text="${product.description}" class="product-description"></p>
                <p th:text="${product.price}" class="product-price"></p>

                <form th:action="@{/home/buyer/cart/add/{productId}(productId=${product.id})}" method="post" class="add-to-cart-form">
                    <label for="quantity">Quantity:</label>
                    <input type="number" id="quantity" name="quantity" min="1" th:max="${product.stock}" value="1" th:disabled="${product.stock == 0}" required/>
                    <button type="submit" class="btn add-to-cart-btn" th:disabled="${product.stock == 0}">
                     	<i class="fas fa-cart-plus"></i> Add to Cart
                     </button>
                </form>
                
                 <p th:if="${product.stock == 0}" class="out-of-stock">Out of stock</p>
                 
            </div>
        </div>
    </section>
    </main>
</body>
</html>
