<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Role</title>
    <script src="/js/script.js" defer></script>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Create New Role</h1>

    <nav>
        <a href="/admin/dashboard">Dashboard</a>
        <form th:action="@{/auth/logout}" method="post">
		    <button type="submit">Logout</button>
		</form>
    </nav>

	<form th:action="@{/admin/createRole}" method="post">
	    <label for="roleName">Role Name:</label>
	    <input type="text" id="roleName" name="roleName" required><br><br>
	    <button id="submitRole" type="submit">Create Role</button>  
	</form>
</body>
</html>
