<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Order</title>
    <script src="/js/script.js" defer></script>
    <link rel="stylesheet" th:href="@{/css/buyerStyle.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body class="buyer-body">
    <!-- Sidebar -->
    <aside class="sidebar">
        <h2>Buyer</h2>
        <ul>
            <li><a th:href="@{/home/buyer/view}"><i class="fa fa-home"></i> Home</a></li>
            <li>
                <form th:action="@{/auth/logout}" method="post">
                    <button type="submit" class="logout-btn"><i class="fas fa-sign-out-alt"></i> Logout</button>
                </form>
            </li>
        </ul>
    </aside>

    <main class="buyer-main">
        <header>
            <h1><span th:text="${buyerName}"></span></h1>
        </header>

        <section class="cart-section">
            <div>
                <h2 class="order">Your Order is successfully placed</h2>
            </div>
		</section>
	</main>
</body>
</html>
