<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>View</title>
    <script src="/js/script.js" defer></script>
</head>
<body>
	<nav>
    	<form th:action="@{/auth/logout}" method="post">
		    <button type="submit">Logout</button>
		</form>

        <a th:href="@{/home/buyer/view}">Go back to Shopping</a>
    </nav>
	<div>
	    <h2>Your Cart</h2>
	
	    <div th:if="${cartItems.isEmpty()}">
	        <p>Your cart is empty.</p>
	    </div>
	    
	    <div th:if="${error != null}">
		    <p th:text="${error}" style="color: red;"></p>
		</div>
		<div th:if="${success != null}">
		    <p th:text="${success}" style="color: green;"></p>
		</div>

	    <div th:each="cartItem : ${cartItems}">
	        <div>
	            <img th:src="@{${cartItem.product.imagePath}}" alt="Product Image" width="100" height="100" />
	            <h3 th:text="${cartItem.product.name}">Product Name</h3>
	            <p th:text="${cartItem.product.price}">Price</p>
	            <p>
		            <label for="quantity">Quantity:</label>
		            <input type="number" class="quantity-input" th:data-product-id="${cartItem.product.id}" th:value="${cartItem.quantity}" th:max="${cartItem.product.stock}" min="1" required />
		        </p>
		        
		        <!-- Show out-of-stock message -->
		        <p th:if="${cartItem.product.stock == 0}" style="color: red;"> Out of stock</p>
		        
	            <form th:action="@{/home/buyer/cart/remove/{productId}(productId=${cartItem.product.id})}" method="POST">
	                <input type="hidden" name="_method" value="delete" />
	                <button type="submit">Remove</button>
	            </form>
	        </div>
	    </div>
	
	    <div th:if="${!cartItems.isEmpty()}">
	        <p>Total Price: <span th:text="${totalPrice}">0</span></p>
	        <a href="#" th:href="@{/home/buyer/checkout}">Proceed to Checkout</a>
	    </div>
	</div>
</body>
</html>