<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Your Cart</title>
    <script src="/js/script.js" defer></script>
    <link rel="stylesheet" th:href="@{/css/buyerStyle.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body class="buyer-body">
    <!-- Sidebar -->
    <aside class="sidebar">
        <h2>Buyer</h2>
        <ul>
            <li><a th:href="@{/home/buyer/view}"><i class="fa fa-home"></i> Home</a></li>
            <li>
                <form th:action="@{/auth/logout}" method="post">
                    <button type="submit" class="logout-btn"><i class="fas fa-sign-out-alt"></i> Logout</button>
                </form>
            </li>
        </ul>
    </aside>

    <main class="buyer-main">
        <header>
            <h1><span th:text="${buyerName}"></span></h1>
        </header>

        <section class="cart-section">
        	<div class="cart-empty"th:if="${cartItems.isEmpty()}">
                <h2>Your cart is empty.</h2>
            </div>
            
            <div class="cart-summary" th:if="${!cartItems.isEmpty()}">
                <p class="total-price">Total Price: <span th:text="${totalPrice}">0</span></p>
             	<a class="btn checkout-btn" th:href="@{/home/buyer/checkout}"><i class="fa fa-shopping-cart"></i> Proceed to Checkout</a>
            </div>

            <div class="cart-items" th:if="${!cartItems.isEmpty()}">
                <div th:each="cartItem : ${cartItems}" class="cart-item">
                    <img th:src="@{${cartItem.product.imagePath}}" alt="Product Image" class="cart-product-image" />
                    <div class="product-details">
                        <h3 th:text="${cartItem.product.name}">Product Name</h3>
                        <p th:text="${cartItem.product.price}">Price</p>
                        <label for="quantity">Quantity:</label>
                        <input type="number" class="quantity-input" th:data-product-id="${cartItem.product.id}" th:value="${cartItem.quantity}" th:max="${cartItem.product.stock}" min="1" required />
                        <p th:if="${cartItem.product.stock == 0}" class="out-of-stock">Out of stock</p>
                        <form th:action="@{/home/buyer/cart/remove/{productId}(productId=${cartItem.product.id})}" method="POST">
                            <input type="hidden" name="_method" value="delete" />
                            <button type="submit" class="btn remove-btn"><i class="fas fa-trash-alt"></i> Remove</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>
